/* Google fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
/* Global styling */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    font-family: Helvetica neue, Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

/* Typography */

/* Global button style, Hover effect and animation*/

.btn-sm {
    border-radius: 0;
    position: relative;
}

.btn-primary {
    color: #fff !important;
    letter-spacing: .1075em;
    background-color: #0273d3 !important;
    text-align: center;
    transition: .3s ease;
    z-index: 1;
    overflow: hidden;
    text-transform: uppercase;
}

.btn-sm::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0273d3;
    z-index: -1;
}

.btn-sm:hover::after {
    left: -10%;
    width: 120%;
}

.btn-sm::after {
    content: "";
    position: absolute;
    left: -10%;
    width: 0;
    bottom: -1%;
    height: 120%;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    background: #002855;
    -webkit-transform: skewX(-18deg) translateZ(0);
    transform: skewX(-18deg) translateZ(0);
    z-index: -1;
}

/* Header */

.header.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.main_logo {
    position: absolute;
    width: 130px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 24px 0 15px;
    overflow: hidden;
    z-index: 99;
    transition: all .3s ease;
}

@media(min-width:1200px) {
    .main_logo {
        position: absolute;
        width: 328px;
        height: 123px;
        padding: 0 61px 0 35px;
        z-index: 99;
    }
    .main_logo.active {
        width: 197px;
        height: 74px;
        padding: 0 40px 0 25px;
        z-index: 99;
    }
}

.main_logo::after {
    content: '';
    position: absolute;
    background: #000;
    top: 0;
    left: 5px;
    width: 100%;
    height: 100%;
    transform: skew(-18deg);
    margin-left: -25px;
    z-index: 1;
}

.main_logo .logo_img {
    display: block;
    max-width: 240px;
    width: 100%;
    position: relative;
    z-index: 3;
}

/* Navbar */

.navbar {
    background: #fff !important;
    z-index: 3;
    padding: 0;
    /* overflow: hidden; */
}

.navbar .navbar-nav {
    height: 75px;
}

@media(min-width:1200px) {
    .navbar .navbar-nav.active {
        height: 60px;
    }
}

.navbar-nav .nav-item {
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item a {
    font-size: .75rem;
    color: #000 !important;
    font-weight: bold;
    line-height: 2;
    letter-spacing: .1075em;
    text-transform: uppercase;
}

.nav-btn {
    padding: .25rem 1rem;
}

.navbar-nav .nav-item .dropdown__li_inner_link {
    text-transform: none;
    color: #0273d3 !important;
    font-size: .75rem;
    line-height: 1.41667;
}

.navbar-nav .nav-item .first__column {
    /* width: calc(50% - 10px);
    padding-right: 40px; */
    border-right: 1px solid #c8cdce;
}

.navbar-nav .nav-item .second__column {
    color: #626262;
    font-size: .75rem;
    line-height: 1.75;
}

.for__pc {
    display: none;
}

.for__mob {
    display: block;
}

/* Side Menu */

#sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
    background: #1D809F;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 15px;
    font-size: 0.8rem;
    font-weight: bold;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    font-size: 1.2rem;
    background: #000;
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.sidebar-nav>.sidebar-brand a {
    color: #fff;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    z-index: 99;
}

.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
    z-index: 999;
}

.menu-toggle:focus, .menu-toggle:hover {
    color: #fff;
}

.menu-toggle:hover {
    background: #343a40;
}

.sidebar-inner-link li {
    display: inline-block;
}

.sidebar-inner-link li a {
    color: #0033ae !important;
}

.sidebar__submenu {
    list-style: none;
}

.sidebar__submenu .nav-item a {
    padding: 10px 30px !important;
    color: #000;
    font-size: .75rem !important;
    line-height: 1.58333 !important;
    font-weight: normal !important;
}

.dropdown-divider {
    margin: 0;
}

.sidebar-nav-item i {
    transition: all 0.2s linear;
    color: #0273d3;
    transform: translateY(-5%);
}

.sidebar-nav-item i.active {
    transform: rotate(180deg);
}

@media(min-width:1200px) {
    .navbar-nav .dropdown-menu.one {
        width: calc(100% + 10px);
        min-width: 946px;
        padding: 27px 30px 30px;
        background-color: #f9f9f9;
        margin: 0;
        background-clip: unset;
    }
    .navbar-nav .nav-item .dropdown__heading {
        font-size: .875rem;
        line-height: 1.71429;
        letter-spacing: .10714em;
        text-transform: uppercase;
        cursor: pointer;
        color: #000;
    }
    .dropdown__heading:hover {
        text-decoration: underline;
    }
    .nav-item.dropdown ul:not(:last-child) {
        margin-bottom: 25px;
    }
    .dropdown__ul_link {
        list-style: none;
    }
    .dropdown__li_link {
        margin-right: 0;
        padding: 0;
        margin-bottom: .5em;
    }
    .navbar-nav .nav-item .second__column {
        font-size: .875rem;
        line-height: 1.64286;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .for__pc {
        display: block;
    }
    .for__mob {
        display: none;
    }
}

/* Main */

.main {
    position: relative;
    z-index: 1;
    height: calc(100vh - 100px);
}

@media(min-width:1200px) {
    .main {
        position: relative;
        z-index: 1;
        height: 662px;
    }
    .main__wrapper {
        height: 722px !important;
        width: 1519px !important;
    }
}

@media(min-width:1900px) {
    .main {
        height: 1095px;
    }
    .main__wrapper {
        height: 1155px !important;
        width: 2560px !important;
    }
}

.main__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

/* main inner video and banner img */

.main__image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.main__header_img {
    position: relative;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/* Black overlay effect over the image */

.main__image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background: linear-gradient(180deg, transparent, #000);
    opacity: .4;
}

.main__video {
    position: absolute;
    left: 50%;
    width: 1350px;
    height: 100vh;
    transform: translateX(-50%);
    pointer-events: none;
}

/* Black overlay effect over the video */

.main__video::after {
    content: "";
    display: block;
    position: absolute;
    top: -1%;
    left: -1%;
    right: -1%;
    bottom: -1%;
    background: transparent;
    opacity: .4;
    background: linear-gradient(180deg, transparent, #000);
}

.main__video iframe {
    width: 100%;
    height: 100%;
}

@media(min-width:1200px) {
    .main__video {
        height: 864px;
        width: 1536px;
        opacity: 1 !important;
    }
}

@media(min-width:1900px) {
    .main__video {
        height: 1440px;
        width: 2560px;
        opacity: 1 !important;
    }
}

/* main inner content */

.main .container {
    padding: 0;
    width: calc(100% - 40px);
}

.main__inner_container {
    position: absolute;
    max-width: 875px;
    bottom: 0;
    padding-bottom: 120px;
    z-index: 3;
}

.main__inner_container h1 {
    font-size: 2.5rem;
    line-height: 1.275;
    color: #fff;
}

.main__inner_container p {
    font-size: 1.125rem;
    line-height: 1.5;
    color: #fff;
}

.main__inner_headline, .main__inner_description {
    opacity: 1;
    transform: translateY(0);
    transition: transform .8s, opacity .5s, -webkit-transform .8s;
    transition-delay: .3s;
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
}

.main__inner_container p {
    display: none;
}

@media(min-width:1200px) {
    .main__inner_container h1 {
        font-size: 4.25rem;
        line-height: 1.08824;
        margin-bottom: 15px;
    }
    .main__inner_container p {
        font-size: 1.5625rem;
        line-height: 1.52;
        display: block;
    }
}

/* trigger downarrow */

.main__inner_trigger {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    bottom: 35px;
    left: 50%;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .25s;
    transform: translate3d(-50%, 0, 0);
    z-index: 3;
}

.main__inner_trigger:hover {
    transform: translate3d(-50%, 15px, 0);
}

/* News card */

#main__content {
    position: relative;
    z-index: 10;
}

.news__card {
    position: relative;
    padding: 45px 0 80px;
    overflow: hidden;
    background: linear-gradient(180deg, transparent, #000);
}

.news__card::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg);
}

.news__card_wrapper {
    position: relative;
    z-index: 1;
}

.news__card_container {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 0;
}

.news__card_block {
    position: relative;
    padding: 16px 0;
}

.news__card_cell:nth-child(odd) {
    clip-path: polygon(0 0, 100% 4%, 100% 96%, 0 100%);
}

.news__card_cell {
    position: relative;
    width: 100%;
    height: 580px;
    clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 96%);
    padding: 0 10.5px;
    vertical-align: top;
}

/*
<!------------------------>
<!--     green half     -->
<!------------------------>
*/

.news__card_cell .card-fourth__background.image {
    clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 90%);
}

/* Newely added (24/05/2019) */

.news__card_cell.one .card-fourth__background.image {
    clip-path: polygon(0 0, 100% 4%, 100% 90%, 0 100%);
}

.news__card_cell .card-fourth__background.image {
    bottom: auto;
    width: 100%;
    height: auto;
    z-index: 2;
}

.card-fourth__background.image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.image--cover {
    position: relative;
}

.news__card_cell .card-fourth__background.image:before {
    content: "";
    display: block;
    padding-bottom: 61.08108%;
}

.card-fourth__background.image:before {
    content: "";
    display: block;
    padding-bottom: 155.55556%;
}

.card-fourth__inner:after {
    display: block;
    content: "";
    width: 0;
    padding-top: 162%;
}

.image__img {
    position: absolute;
    top: 0;
    left: 12px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.news__card_cell .card-fourth__background-color {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: #c4d600;
}

.card-fourth__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.news__card_cell .card-fourth__content {
    padding: 35% 0 0;
}

.card-fourth__cat {
    position: absolute;
    top: 35px;
    left: 20px;
    color: #fff;
}

.card-fourth__cat h3 {
    line-height: 1;
}

.label-text {
    font-size: .6875rem;
    line-height: 2.18182;
    letter-spacing: .13636em;
    text-transform: uppercase;
}

.card-fourth__cat h3 .button {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
}

.button {
    position: relative;
    display: inline-block;
    padding: 14px 30px;
    text-align: center;
    color: #fff;
    background: #0273d3;
    border: none;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    overflow: hidden;
    z-index: 1;
}

.card-fourth__label {
    font-size: .625rem;
    line-height: 1.6;
    letter-spacing: .105em;
    text-transform: uppercase;
}

.button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
}

.button:after {
    content: "";
    position: absolute;
    left: -10%;
    width: 0;
    bottom: -1%;
    height: 120%;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    background: #002855;
    -webkit-transform: skewX(-18deg) translateZ(0);
    transform: skewX(-18deg) translateZ(0);
    z-index: -1;
}

.news__card_cell .card-fourth__content-inner {
    align-content: stretch;
    height: 100%;
}

.card-fourth__content-inner {
    position: relative;
    z-index: 2;
    padding: 60px 20px 40px;
}

.card-fourth-title {
    color: #fff;
    text-transform: none;
    margin-bottom: 8px;
}

.news__card_cell .card-fourth-title a {
    color: #000;
}

.card-fourth-title {
    display: inline;
    box-decoration-break: clone;
    transition: all .25s ease;
}

.secondary-title {
    font-size: 1.3125rem;
    line-height: 1.25;
    letter-spacing: .02em;
}

.news__card_cell .card-fourth__button {
    color: #000;
}

.card-fourth__footer .button-link {
    display: inline;
    box-decoration-break: clone;
    transition: all .25s ease;
}

.button-link-white {
    display: inline;
    align-items: center;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: 0;
    box-shadow: none;
    overflow: hidden;
    color: #fff;
}

.button-link {
    display: inline;
    align-items: center;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: 0;
    box-shadow: none;
    overflow: hidden;
    color: #0273d3;
}

.button-link, .button-link-white {
    font-size: .6875rem;
    line-height: 2.18182;
    letter-spacing: .13636em;
    text-transform: uppercase;
}

.green__half h3 a {
    color: #000;
    transform: all .5s;
}

.green__half h3 a:hover {
    background: #fff;
}

@media(min-width:740px) {
    .news__card_cell .card-fourth__content {
        padding: 55% 0 0;
    }
}

@media(min-width:980px) {
    .card-fourth__cat {
        top: 55px;
        left: 48px;
        z-index: 3;
    }
    .label-text {
        font-size: .875rem;
        line-height: 1.71429;
        letter-spacing: .10714em;
    }
    .card-fourth__label {
        font-size: .875rem;
        line-height: 1.71429;
        letter-spacing: .10714em;
    }
    .card-fourth__content-inner {
        padding: 48px;
    }
    .card-fourth-title {
        font-size: 1.75rem;
        line-height: 1.21429;
        letter-spacing: 0;
    }
    .card-fourth__button {
        font-size: .875rem;
        line-height: 1.71429;
        letter-spacing: .10714em;
    }
}

/*
<!------------------------>
<!-- End of  green half -->
<!------------------------>
*/

.news__card_content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.news__card_inner_content {
    position: absolute;
    top: 35px;
    left: 20px;
}

.news__card_inner_content h3 {
    line-height: 1;
    text-transform: uppercase;
    font-size: .6875rem;
    line-height: 2.18182;
    letter-spacing: .13636em;
    margin-bottom: 0;
}

.news__card_inner_content h3 a {
    display: inline-block;
    padding: 0 5px;
}

.news__card_inner_content a {
    position: relative;
    display: inline-block;
    padding: 14px 30px;
    text-align: center;
    color: #fff;
    background: #0273d3;
    border: none;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    overflow: hidden;
    z-index: 1;
    font-size: .625rem;
    line-height: 1.6;
    letter-spacing: .105em;
}

.news__card_inner_content a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
}

.news__card_inner_content a:after {
    content: "";
    position: absolute;
    left: -10%;
    width: 0;
    bottom: -1%;
    height: 120%;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    background: #002855;
    -webkit-transform: skewX(-18deg) translateZ(0);
    transform: skewX(-18deg) translateZ(0);
    z-index: -1;
}

.news__card_inner {
    align-self: flex-end;
    position: relative;
    z-index: 2;
    padding: 60px 20px 40px;
    background-image: linear-gradient(-180deg, transparent, #000 33%);
}

.news__card_inner_two {
    position: relative;
    z-index: 2;
    padding: 60px 20px 40px;
}

.news__card_inner_two a {
    color: #fff;
    text-decoration: none;
}

.news__card_inner_two a:hover {
    background-color: #c4d600;
    color: #000;
}

.news__card_inner h3 {
    font-size: 1.3125rem;
    line-height: 1.25;
    letter-spacing: .02em;
    text-transform: none;
    margin-bottom: 8px;
}

.news__card_inner h3 a {
    color: #fff;
    text-decoration: none;
}

.news__card_inner h3 a:hover {
    background: #c4d600;
    color: #000;
}

.news__card_img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: #002855;
}

.flickity-button {
    position: absolute;
    padding: 0;
    color: #fff;
    user-select: none;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, .8);
    transition: all .3s ease;
    top: auto;
    transform: none;
    background: transparent !important;
    display: none;
}

.flickity-button:before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: transparent;
    border-radius: 100%;
    -webkit-box-shadow: inset 0 0 0 0 #c4d600;
    box-shadow: inset 0 0 0 0 #c4d600;
}

.flickity-button:before, .flickity-button path {
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.flickity-prev-next-button .flickity-button-icon {
    color: #fff;
}

.flickity-button:hover {
    border-color: #c4d600;
    color: #000;
}

.flickity-button:active:before, .flickity-button:focus:before, .flickity-button:hover:before {
    -webkit-box-shadow: inset 0 0 0 25px #c4d600;
    box-shadow: inset 0 0 0 25px #c4d600;
}

.flickity-button.previous {
    right: 50px;
    left: auto;
}

@media(min-width:1200px) {
    .news__card {
        padding-top: 100px;
    }
    .news__card::after {
        transform: skewY(3deg);
    }
    .news__card_block {
        padding-top: 45px;
        padding: 30px 0 80px;
    }
    .news__card_cell {
        width: 28%;
        padding: 0 12.5px;
    }
    .news__card_inner_content {
        top: 55px;
        left: 48px;
    }
    .news__card_inner_content h3 {
        font-size: .875rem;
        line-height: 1.71429;
        letter-spacing: .10714em;
    }
    .news__card_inner_content a {
        font-size: .875rem;
        line-height: 1.71429;
        letter-spacing: .10714em;
    }
    .news__card_inner {
        padding: 48px;
        top: auto;
        bottom: 0;
        transform: none;
    }
    .news__card_inner_two {
        padding: 48px;
    }
    .news__card_inner h3 {
        font-size: 1.75rem;
        line-height: 1.21429;
        letter-spacing: 0;
    }
    .flickity-page-dots {
        display: none;
    }
    .flickity-button {
        display: block;
        width: 41px;
        height: 41px;
        bottom: -80px;
    }
    .flickity-button.previous {
        right: 58px;
    }
}

@media(min-width:1900px) {
    .news__card_cell {
        width: 18%;
        padding: 0 20.5px;
    }
}

/* Home tag */

.home__tag {
    position: absolute;
    left: 8%;
    color: #fff;
    z-index: 10;
    letter-spacing: .09091em;
    text-transform: uppercase;
    display: none;
}

.home__tag a {
    position: relative;
    display: inline-block;
    color: #fff;
    border-bottom: 1px solid #c4d600;
    line-height: 1;
    transition: all .2s ease;
}

.home__tag a:hover {
    color: #000;
    background: #c4d600;
}

@media(min-width:1200px) {
    .home__tag {
        bottom: 0;
        font-size: .75rem;
        line-height: 1.25;
        display: block;
    }
}

/* Theme block */

.theme__block {
    padding: 40px 0 100px;
    color: #fff;
    background: #000;
    overflow: hidden;
}

.theme__block_container {
    width: calc(100% - 40px);
    margin: 0 auto;
}

.theme__block_tag {
    font-size: .6875rem;
    line-height: 1.3;
    letter-spacing: .09091em;
    text-transform: uppercase;
    color: #968c83;
}

.theme__block_list {
    list-style: none;
}

.theme__block_item {
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.theme__block_link {
    position: relative;
    font-size: 2.25rem;
    line-height: 1.44444;
    text-transform: uppercase;
    text-decoration: none !important;
    color: #fff;
    font-weight: 500;
}

[data-target="#tab-horizontal-0"].is-toggle-active .theme__block_link {
    color: #fe502d;
}

[data-target="#tab-horizontal-1"].is-toggle-active .theme__block_link {
    color: #ffc72c;
}

[data-target="#tab-horizontal-2"].is-toggle-active .theme__block_link {
    color: #d4eb8e;
}

[data-target="#tab-horizontal-3"].is-toggle-active .theme__block_link {
    color: #0095f5;
}

[data-target="#tab-horizontal-0"] .theme__block_link:hover {
    color: #fe502d;
}

[data-target="#tab-horizontal-1"] .theme__block_link:hover {
    color: #ffc72c;
}

[data-target="#tab-horizontal-2"] .theme__block_link:hover {
    color: #d4eb8e;
}

[data-target="#tab-horizontal-3"] .theme__block_link:hover {
    color: #0095f5;
}

.theme__header_line {
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 50px;
    height: 1px;
    background: #000;
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease;
}

[data-target="#tab-horizontal-0"] .theme__header_line {
    background-color: #fe502d;
}

[data-target="#tab-horizontal-1"] .theme__header_line {
    background-color: #ffc72c;
}

[data-target="#tab-horizontal-2"] .theme__header_line {
    background-color: #d4eb8e;
}

[data-target="#tab-horizontal-3"] .theme__header_line {
    background-color: #0095f5;
}

.is-toggle-active .theme__header_line {
    width: 100%;
}

.theme__block_content {
    position: relative;
    /* max-height: 0; */
    margin-bottom: 30px;
}

.theme__block_single_content {
    font-size: 1.0625rem;
    line-height: 1.47059;
    letter-spacing: 0;
    display: none;
}

.theme__block_single_content.is-content-active {
    display: block;
    opacity: 1;
    visibility: visible;
    transition-delay: .55s;
    transform: translateY(0);
}

.theme__block_content_text {
    margin-top: 15px;
    font-size: 1.5625rem;
    line-height: 1.28;
    letter-spacing: 0;
}

.theme__block_content_link {
    color: #fff;
    text-decoration: none;
    transition: all .2s ease;
}

.theme__block_content_link:hover {
    color: #000;
    background: #c4d600;
    text-decoration: none;
}

.theme__block_single_content .card {
    height: 442px;
    border-radius: 0;
    background: #000;
}

.theme__block_single_content .card .card-body {
    padding: 0;
}

.theme__block_card_inner_wrapper:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 40, 85, .8);
}

.theme__block_single_content .card-body {
    position: relative;
}

.theme__block_card_content {
    position: absolute;
    width: 100%;
    bottom: 80px;
    left: 0;
    padding: 20px 20px 5px;
}

.theme__block_card_inner a {
    font-size: 1.3125rem;
    line-height: 1.52381;
    text-transform: none;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.theme__block_card_inner a:hover {
    background-color: #c4d600;
    color: #000;
}

@media(min-width:1200px) {
    .theme__block_container {
        max-width: 1240px;
    }
    .theme__block_tag {
        font-size: .75rem;
        line-height: 1.25;
        margin-bottom: 20px;
    }
    .theme__header_line {
        height: 4px;
        background: #fff;
    }
    .theme__block_content {
        display: block;
        max-height: 999px;
        margin-bottom: 60px;
    }
    .theme__block_single_content {
        font-size: 1.25rem;
        line-height: 1.55;
    }
    .theme__block_content_text {
        font-size: 2.25rem;
        line-height: 1.27778;
        letter-spacing: 0;
    }
    /* .theme__block_card_content {
    
        padding: 20px 20px 35px;
    } */
}

/* Alumini spotlight */

.alumini__spotlight {
    background: #fff;
    padding: 40px 0 30px;
    text-align: center;
}

.alumini__spotlight .rounded-circle {
    border-radius: 50%;
    width: 50%;
    margin-bottom: 20px;
}

.alumini__spotlight .theme__block_tag {
    font-weight: bold;
}

.alumini__spotlight_content {
    font-size: 1.3125rem;
    line-height: 1.14286;
    margin-top: 15px;
    padding-top: 15px;
    position: relative;
}

.alumini__blog_quality p:first-child {
    font-size: 2.25rem;
    line-height: 1.11111;
    font-weight: bold;
    color: #aa142d;
}

.quality_one p:first-child {
    color: #fe502d !important;
}

.alumini__description {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 8px;
}

.alumini__upcoming_event_image {
    width: 100%;
    height: 220px;
    /* padding-bottom: 50px; */
}

.alumini__block_content_link {
    font-size: 1.0625rem;
    line-height: 1.88235;
    letter-spacing: 0;
}

.alumini__block_content_link_a {
    color: #000 !important;
    text-decoration: none !important;
}

.alumini__block_content_link_a:hover {
    color: #000;
    background: #c4d600;
    text-decoration: none;
}

.alumini__block_content_link_a .fa-arrow-right {
    transition: all .5s ease;
}

.alumini__block_content_link_a:hover .fa-arrow-right {
    transform: translateX(5px);
}

@media(min-width:1200px) {
    .alumini__spotlight {
        padding: 80px 0;
        text-align: left;
    }
    .alumini__spotlight .rounded-circle {
        border-radius: 50%;
        width: 100%;
        margin-bottom: 0;
    }
    .alumini__spotlight_content {
        font-size: 2.375rem;
        line-height: 1.28947;
        margin-top: 12px;
        font-weight: bold;
    }
    .alumini__description {
        font-size: 1.125rem;
        line-height: 1.27778;
    }
    .alumini__block_content_link {
        font-size: 1.75rem;
        line-height: 1.1;
        max-width: 65%;
        margin-top: 20px;
    }
}

/* Image__gallery */

.image__gallery {
    padding: 25px 0;
    padding-bottom: 80px;
    background: #000;
    color: #fff;
    overflow: hidden;
}

.image__gallery_inner {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    overflow: hidden;
}

.image__gallery_header {
    position: relative;
    margin-bottom: 20px;
}

.image__gallery_header_inner {
    padding: 0 20px;
}

.image__gallery_heading {
    font-size: 1.3125rem;
    line-height: 1.14286;
}

.image__gallery_description {
    color: #fff;
}

.image__gallery_card_header {
    display: none;
    color: #fff;
}

.image__gallery_img {
    width: 100%;
    margin-bottom: 20px;
}

.image__gallery_img::before {
    content: "";
    display: block;
    padding-bottom: 56.25%;
}

.image__card_header {
    margin-bottom: 20px;
}

.image__btn {
    position: relative;
    display: inline-block;
    padding: 14px 30px;
    text-align: center;
    color: #fff;
    background: #0273d3;
    border: none;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    overflow: hidden;
    z-index: 1;
}

.image__gallery_header::before {
    display: block;
    transform: rotate3d(0, 0, 2, 4deg);
}

.image__gallery_header::after {
    display: none;
}

.image__gallery_single_image {
    position: relative;
    width: 100%;
}

.image__gallery_single_image img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.image__gallery_single_wrapper {
    position: relative;
}

.image__gallery_single_wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    opacity: .8;
    background: linear-gradient(180deg, transparent, #000);
}

.image__gallery_inner_description {
    padding: 0 15px;
    transform: translateZ(0);
    transition-delay: .2s;
    opacity: 1;
    display: flex;
    transition: transform .15s ease;
    transition: transform .15s ease, -webkit-transform .15s ease;
}

.image__gallery_count {
    display: none;
    padding-right: 15px;
    color: #c4d600;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
}

@media(min-width:1200px) {
    .image__gallery {
        padding-bottom: 100px;
        background: #fff;
    }
    .image__gallery_inner {
        display: flex;
    }
    .image__gallery_header {
        padding-top: 80px;
        width: 25%;
        margin-bottom: 0;
        background: #000;
    }
    .image__gallery_header_inner {
        padding: 0 60px;
        margin-bottom: 30px;
    }
    .image__gallery_heading {
        font-size: 2.375rem;
        line-height: 1.14286;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .image__gallery_card_header {
        display: flex;
        flex-wrap: wrap;
        margin: 40px 0;
    }
    .image__gallery_header::before {
        content: "";
        position: absolute;
        top: -35px;
        left: -10px;
        right: 2px;
        height: 50px;
        background: #000;
    }
    .image__gallery_header::after {
        content: "";
        position: absolute;
        top: -22px;
        right: 0;
        left: -10px;
        height: 50px;
        background: #000;
        display: block;
    }
    .image__gallery_carousel {
        width: 75%;
        align-self: flex-end;
    }
    .image__gallery_inner_description {
        position: absolute;
        right: 0;
        bottom: 30px;
        padding: 0;
    }
    .image__gallery_count {
        display: block;
    }
    .image__gallery_count_description {
        width: 430px;
        padding-left: 15px;
        padding-right: 30px;
        border-left: 1px solid hsla(190, 6%, 80%, .3);
    }
    .image__gallery_single_image img {
        margin-bottom: 0;
    }
    .image__gallery_grid .flickity-prev-next-button.previous {
        left: 40px;
        right: auto;
        bottom: 20px;
        top: auto;
    }
    .image__gallery_grid .flickity-prev-next-button.next {
        left: 94px;
        right: auto;
        bottom: 20px;
        top: auto;
    }
}

/* Institute */

.institute {
    background: #0033ae;
    position: relative;
    overflow: hidden;
}

.institute .container {
    padding: 0 53px;
}

.institute__inner {
    padding: 30px 0;
    position: relative;
}

.institute__inner_image_pc {
    display: none;
    width: 50%;
    margin-bottom: 40px;
}

.institute__inner_des {
    position: relative;
    z-index: 2;
    font-size: .9375rem;
    line-height: 2.13333;
    color: #fff;
    margin-bottom: 20px;
}

.institute__inner_grid {
    display: none;
}

.institute__inner_image_moblie {
    width: 159px;
    height: 78px;
    margin-bottom: 20px;
}

.institute__inner_horizontal p {
    font-size: 1.5625rem;
    line-height: 1.28;
    letter-spacing: .0625rem;
    text-transform: none;
    color: #fff;
}

.institute__inner_horizontal a {
    text-decoration: none;
}

@media(min-width:1200px) {
    .institute__inner {
        padding: 120px 0 100px 0;
    }
    .institute__inner_image_pc {
        width: 100px;
        height: 480px;
        display: block;
    }
    .institute__inner_image_moblie {
        display: none;
    }
    .institute__inner_des {
        font-size: 1.3125rem;
        line-height: 1.52381;
        max-width: 680px;
        color: #fff;
    }
    .institute__inner_grid {
        display: block;
    }
    .institute__inner_grid_single {
        margin-right: 50px;
    }
    .institute__inner_grid_single .img-first {
        width: 442px;
        height: 249px;
    }
    .institute__inner_grid_single img {
        width: 290px;
        height: 190px;
    }
    .institute__inner_title_one {
        font-size: 2.25rem;
        line-height: 1.27778;
        margin-top: 20px;
        max-width: 450px;
        font-weight: bold;
    }
    .institute__inner_title_one a {
        text-decoration: none !important;
    }
    .institute__inner_title_one p {
        color: #fff;
    }
    .mob-only {
        display: none;
    }
    .pc-only {
        display: block;
    }
}

/* Five icons */

.five__icons {
    padding: 30px 0;
    background: #000;
    color: #fff;
    text-align: center;
}

.five__icons_heading {
    font-size: 1.3125rem;
    line-height: 1.25;
    letter-spacing: .02em;
    text-transform: uppercase;
}

.five__icons img {
    max-height: 45px;
    margin-bottom: 10px;
}

.five__icons h5 {
    font-size: 1.125rem;
    line-height: 1.44444;
}

@media(min-width:1200px) {
    .five__icons {
        padding: 80px 0;
        text-align: left;
    }
    .five__icons_heading {
        font-size: 2.375rem;
        line-height: 1.1;
        margin-bottom: 50px;
        max-width: 450px;
        font-weight: bold;
    }
    .five__icons p {
        font-size: .8125rem;
        line-height: 1.61538;
    }
    .icon__border {
        border-left: 1px solid #ccc;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        transition: all .5s ease;
    }
    .icon__border_text {
        text-align: center;
        font-size: bold;
    }
    .icon__border:hover {
        background-color: #c4d600;
    }
    .icon__border:hover p, .icon__border:hover span {
        color: #000;
    }
}

/* Media highlights */

.media__highlights {
    padding: 25px 0;
    background: #fff;
}

.media__highlights .container {
    padding: 0 53px;
}

.media__highlights_heading {
    font-size: 1.0625rem;
    line-height: 1.88235;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.media__highlights h4 {
    font-size: .6875rem;
    line-height: 2.18182;
    letter-spacing: .13636em;
    text-transform: uppercase;
    color: #857261;
}

.media__highlights .col-12 {
    text-align: center;
    margin-bottom: 30px;
}

@media(min-width:1200px) {
    .media__highlights {
        padding: 80px 0;
    }
    .media__highlights_heading {
        font-size: 1.75rem;
        line-height: 1.1;
        margin-bottom: 50px;
    }
    .media__highlights h4 {
        margin-bottom: 10px;
        font-size: .875rem;
        line-height: 1.71429;
        letter-spacing: .10714em;
        font-weight: bold;
    }
    .media__highlights .col-12 {
        text-align: left;
    }
}

/* Breadcrump */

#banner {
    position: relative;
}

#banner .img {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#banner .img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.breadcrumb {
    background: transparent;
    z-index: 3;
    position: absolute;
    bottom: 100px;
}

.breadcrumb li a {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.breadcrumb li.active {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.banner {
    padding-top: 15rem;
}

/* Gallery_slider */

.gallery__slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.gallery__slider_background::before {
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1;
}

.gallery__slider_container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 21px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.gallery__slider_heading {
    font-size: 1.5625rem;
    line-height: 1.1;
    color: #fff;
    font-weight: 500;
}

.gallery__slider_content ul {
    list-style: none;
}

.gallery__slider_content li {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    padding-left: 15px;
}

.gallery__slider_content li:first-child {
    padding-left: 0;
    margin-left: 0;
}

.gallery__slider_content a {
    font-size: .6875rem;
    line-height: 2.18182;
    letter-spacing: .13636em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.gallery__slider_content {
    padding-bottom: 25px;
}

@media(min-width:1200px) {
    .gallery__slider_container {
        padding: 0 142.5px;
    }
    .gallery__slider_content {
        padding: 60px 60px 60px 104px;
    }
    .gallery__slider_heading {
        font-size: 4.25rem;
        line-height: 1.1;
    }
    .gallery__slider_content a {
        font-size: .875rem;
        line-height: 1.71429;
        letter-spacing: .10714em;
    }
}

.gallery__slider_next {
    padding-top: 20px;
    padding: 45px 0;
}

.gallery__slider_inner_grid_single_img img {
    width: 843px;
    height: 580px;
}

.gallery__slider_wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.gallery__slider_inner_grid_single_img_content {
    width: 350px !important;
    min-height: 300px;
    background: #000;
    padding: 40px;
}

.gallery__slider_inner_grid_single_img_content p {
    font-size: .875rem;
    line-height: 1.5;
    color: #fff;
}

.gallery__slider_carousel_order {
    color: #C4D600 !important;
    font-size: .875rem;
    line-height: 1.28571;
    text-transform: uppercase;
    font-weight: 500;
}

.gallery__slider_inner_grid_single_img_content {
    position: relative;
}

.gallery__slider_carousel_order {
    position: absolute;
    bottom: 20px;
}

.img-mob {
    display: block;
}

.slick-prev, .slick-next {
    position: absolute;
    padding: 0;
    color: #fff;
    user-select: none;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, .8);
    transition: all .3s ease;
    top: auto;
    transform: none;
    background: transparent !important;
    display: none !important;
}

.slick-next:hover, .slick-prev:hover {
    border-color: #c4d600;
    color: #000;
    box-shadow: inset 0 0 0 25px #c4d600;
}

.slick-prev {
    right: 50px;
    left: auto;
}

@media(min-width:1200px) {
    .gallery__slider_next {
        padding-top: 80px;
    }
    .gallery__slider_wrapper {
        padding: 0 142.5px;
    }
    .gallery__slider_inner_grid_single_img_content p {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 7px;
        color: #fff;
    }
    .gallery__slider_inner_grid_single_img_content {
        position: relative;
    }
    .gallery__slider_carousel_order {
        position: absolute;
        bottom: 20px;
    }
    .gallery__slider_inner_img_grid {
        position: relative;
    }
    .gallery__slider_inner_img_grid_content {
        position: absolute;
        right: 20px;
        margin-top: 35px;
    }
    .img-mob {
        display: none;
    }
    .gallery__slider_inner_grid_single_img_content {
        width: 350px !important;
        min-height: 500px;
        background: #000;
        padding: 20px;
        padding-top: 40px;
        padding-left: 40px;
    }
    .slick-prev, .slick-next {
        display: block !important;
        width: 41px;
        height: 41px;
        bottom: 80px;
        z-index: 1;
        transition: all .3s ease-in-out;
    }
    .slick-prev {
        right: -200px;
    }
    .slick-next {
        right: -250px;
    }
    .slick-next:before {
        content: '\f054';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }
    .slick-prev:before {
        content: '\f053';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }
    .slick-next:hover::before, .slick-prev:hover::before {
        color: #000;
    }
}

/* Take tour */

.take__tour {
    padding: 25px 0;
    position: relative;
}

.take__tour_wrapper {
    background-image: url('../img/health-tech-hero.jpg');
    background-size: cover;
    height: 250px;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}

.take__tour_wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 40, 48, .52);
}

.take__tour_content {
    position: absolute;
    top: 0;
    z-index: 100;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 55px 35px 75px;
}

.related_stories .news__card {
    background: none;
}

.related_stories .flickity-button {
    border: 2px solid #000;
}

.related_stories .flickity-prev-next-button .flickity-button-icon {
    color: #000;
}

@media(min-width:1200px) {
    .take__tour {
        padding: 45px 0;
    }
    .take__tour_wrapper::after {
        background-color: rgba(0, 0, 0, .47);
    }
    .take__tour_content {
        position: absolute;
        top: 0;
        z-index: 100;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 88px 70px 80px;
    }
}

/* footer */

.footer {
    position: relative;
    background: #fff;
    z-index: 2;
    text-align: center;
}

.footer .container {
    padding: 0 53px;
}

.footer__wrapper {
    position: relative;
    padding-top: 25px;
    padding-bottom: 30px;
    margin-top: 0;
    color: #fff;
    background: #000;
}

.footer__wrapper h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: .6875rem;
    line-height: 2.18182;
    letter-spacing: .13636em;
}

.footer__wrapper a {
    text-decoration: none;
    color: #fff;
    transition: all .3s ease-in-out;
}

.footer__wrapper a:hover {
    color: #c4d600;
}

@media(min-width:1200px) {
    .footer__wrapper {
        padding-bottom: 45px;
        padding-top: 75px;
    }
    .footer__wrapper h4 {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: .875rem;
        line-height: 1.71429;
        letter-spacing: .10714em;
    }
    .form-control {
        background: transparent !important;
    }
    .footer {
        text-align: left;
    }
}