/* Google fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
/* Global styling */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    font-family: Helvetica neue, Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

/* Typography */

/* Global button style, Hover effect and animation*/

.btn-sm {
    border-radius: 0;
    position: relative;
}

.btn-primary {
    color: #fff !important;
    letter-spacing: .1075em;
    background-color: #0273d3 !important;
    text-align: center;
    transition: .3s ease;
    z-index: 1;
    overflow: hidden;
    text-transform: uppercase;
}

.btn-sm::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0273d3;
    z-index: -1;
}

.btn-sm:hover::after {
    left: -10%;
    width: 120%;
}

.btn-sm::after {
    content: "";
    position: absolute;
    left: -10%;
    width: 0;
    bottom: -1%;
    height: 120%;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    background: #002855;
    -webkit-transform: skewX(-18deg) translateZ(0);
    transform: skewX(-18deg) translateZ(0);
    z-index: -1;
}

/* Header */

.header.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.main_logo {
    position: absolute;
    width: 130px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 24px 0 15px;
    overflow: hidden;
    z-index: 6;
    transition: all .3s ease;
}

@media(min-width:1200px) {
    .main_logo {
        position: absolute;
        width: 328px;
        height: 123px;
        padding: 0 61px 0 35px;
    }
    .main_logo.active {
        width: 197px;
        height: 74px;
        padding: 0 40px 0 25px;
    }
}

.main_logo::after {
    content: '';
    position: absolute;
    background: #000;
    top: 0;
    left: 5px;
    width: 100%;
    height: 100%;
    transform: skew(-18deg);
    margin-left: -25px;
    z-index: 1;
}

.main_logo .logo_img {
    display: block;
    max-width: 240px;
    width: 100%;
    position: relative;
    z-index: 3;
}

/* Navbar */

.navbar {
    background: #fff !important;
    z-index: 3;
    padding: 0;
    /* overflow: hidden; */
}

.navbar .navbar-nav {
    height: 75px;
}

@media(min-width:1200px) {
    .navbar .navbar-nav.active {
        height: 60px;
    }
}

.navbar-nav .nav-item {
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item a {
    font-size: .75rem;
    color: #000 !important;
    font-weight: bold;
    line-height: 2;
    letter-spacing: .1075em;
    text-transform: uppercase;
}

.nav-btn {
    padding: .25rem 1rem;
}

.navbar-nav .nav-item .dropdown__li_inner_link {
    text-transform: none;
    color: #0273d3 !important;
    font-size: .75rem;
    line-height: 1.41667;
}

.navbar-nav .nav-item .first__column {
    /* width: calc(50% - 10px);
    padding-right: 40px; */
    border-right: 1px solid #c8cdce;
}

.navbar-nav .nav-item .second__column {
    color: #626262;
    font-size: .75rem;
    line-height: 1.75;
}

.for__pc {
    display: none;
}

.for__mob {
    display: block;
}

/* Side Menu */

#sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
    background: #1D809F;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 15px;
    font-size: 0.8rem;
    font-weight: bold;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    font-size: 1.2rem;
    background: #000;
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.sidebar-nav>.sidebar-brand a {
    color: #fff;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
    z-index: 999;
}

.menu-toggle:focus, .menu-toggle:hover {
    color: #fff;
}

.menu-toggle:hover {
    background: #343a40;
}

.sidebar-inner-link li {
    display: inline-block;
}

.sidebar-inner-link li a {
    color: #0033ae !important;
}

@media(min-width:1200px) {
    .navbar-nav .dropdown-menu.one {
        width: calc(100% + 10px);
        min-width: 946px;
        padding: 27px 30px 30px;
        background-color: #f9f9f9;
        margin: 0;
        background-clip: unset;
    }
    .navbar-nav .nav-item .dropdown__heading {
        font-size: .875rem;
        line-height: 1.71429;
        letter-spacing: .10714em;
        text-transform: uppercase;
        cursor: pointer;
        color: #000;
    }
    .dropdown__heading:hover {
        text-decoration: underline;
    }
    .nav-item.dropdown ul:not(:last-child) {
        margin-bottom: 25px;
    }
    .dropdown__ul_link {
        list-style: none;
    }
    .dropdown__li_link {
        margin-right: 0;
        padding: 0;
        margin-bottom: .5em;
    }
    .navbar-nav .nav-item .second__column {
        font-size: .875rem;
        line-height: 1.64286;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .for__pc {
        display: block;
    }
    .for__mob {
        display: none;
    }
}

#banner {
    position: relative;
}

#banner .img {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#banner .img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.breadcrumb {
    background: transparent;
    z-index: 3;
    position: absolute;
    bottom: 100px;
}

.breadcrumb li a {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.breadcrumb li.active {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.banner {
    padding-top: 15rem;
}